@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860

*@

@foreach (Student a in (IEnumerable<Student>) ViewData["LijstStudenten"])
{
    <p>@a.FirstName</p>
}
